/**
 * @name GlowCat
 * @author Knaughty
 * @version 1.0.1
 * @description ✨ A Lightweight Catppuccin coloured theme for discord ✨  
 * @source https://github.com/Kn4ughty/GlowCat
 **/

/* 

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#
#                    License:                   #
#                    Attribution                #
#                    CC BY                      #
# "This license lets others distribute, remix,  #
# adapt, and build upon your work, even         #
# commercially, as long as they credit you for  #
# the original creation."                       #
#                                               #
# What this means for you is that if you decide #
# to create your own version of this theme,     # 
# provide some credit somewhere to me.          #
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#

*/

:root {


    /*                      H     S     L */
    /*
    --rosewater_hsl:        10,   58%,  90%;
    --flamingo_hsl:         0,    58%,  86%;
    --pink_hsl:             316,  74%,  85%;
    --pink-darker_hsl:      316,  40%,  85%;
    --mauve_hsl:            267,  83%,  80%;
    --red_hsl:              351,  74%,  73%;
    --maroon_hsl:           355,  71%,  77%;
    --peach_hsl:            21,   86%,  73%;
    --yellow_hsl:           40,   70%,  78%;
    --green_hsl:            105,  48%,  72%;
    --teal_hsl:             171,  47%,  69%;
    --sky_hsl:              189,  59%,  73%;
    --sapphire_hsl:         199,  66%,  69%;
    --blue_hsl:             220,  83%,  75%;
    --sky_desat_hsl:        189,  70%,  40%;
    --lavender_hsl:         234,  82%,  85%;
    --lavender_desat_hsl:   238, 100%,  75%;
    --black0_hsl:           236,  23%,  12%;
    --black1_hsl:           233,  23%,  15%;
    --black2_hsl:           232,  23%,  18%;
    --black3_hsl:           231,  16%,  34%;
    --black4_hsl:           230,  14%,  41%;
    --gray0_hsl:            247,   8%,  46%;
    --gray1_hsl:            274,  11%,  59%;
    --gray2_hsl:            285,  10%,  75%;
    --white_hsl:            220,  38%,  89%;
    */
    /*                  R    G    B */
    --rosewater:        rgb(244, 219, 214);
    --flamingo:         rgb(240, 198, 198);
    --pink:             rgb(245, 189, 230);
    --mauve:            rgb(198, 160, 246);
    --red:              rgb(237, 135, 150);
    --maroon:           rgb(238, 153, 160);
    --peach:            rgb(245, 169, 127);
    --yellow:           rgb(238, 212, 159);
    --green:            rgb(166, 218, 149);
    --teal:             rgb(139, 213, 202);
    --sky:              rgb(145, 215, 227);
    --sapphire:         rgb(125, 196, 228);
    --blue_:            rgb(138, 173, 244);
    --lavender:         rgb(183, 189, 248);
    /* Not direct from theme 
    --white:            rgb(141, 170, 227);
    */
    --gray0:            rgb(109, 108, 117);
    --gray1:            rgb(143, 134, 150);
    --gray2:            rgb(186, 172, 191);
    
    --white:            rgb(202, 211, 245);
    --black0:           rgb(24,   25,  38);
    --black1:           rgb(30,   32,  48);
    --black2:           rgb(36,   39,  58);
    --black3:           rgb(54,   58,  79);
    --black4:           rgb(91,   96, 120);

}

:root {
    
    /* Window Properties */
    --window-margin: 7px;
    /* 137, 180, 250,0.7 */
    --window-box-shadow: 0px 0px 15px 5px rgba(128, 132, 255,0.6);
    --window-blur: 5px;
    --window-border-radius: 10px;
    --sidebar-colour: rgb(36, 36, 36);

    --avatar-area-box-shadow: 0px 0px 25px 7px rgba(245, 189, 230,0.6);
    --avatar-area-background-colour: var(--black0);
    --avatar-area-top-right-radius: 20px;

    --server-selector-gradient-top: var(--black1);
    --server-selector-gradient-bottom: var(--avatar-area-background-colour);
    /*
    --rosewater: hsl(var(--rosewater_hsl));
    --flamingo: hsl(var(--flamingo_hsl));
    --mauve: hsl(var(--mauve_hsl));
    --pink: hsl(var(--pink_hsl));
    --pink-darker: hsl(var(--pink-darker_hsl));
    --maroon: hsl(var(--maroon_hsl));
    --red: hsl(var(--red_hsl));
    --peach: hsl(var(--peach_hsl));
    --yellow: hsl(var(--yellow_hsl));
    --green: hsl(var(--green_hsl));
    --teal: hsl(var(--teal_hsl));
    --blue: hsl(var(--blue_hsl));
    --sky: hsl(var(--sky_hsl));
    --sky_desat: hsl(var(--sky_desat_hsl));
    --lavender: hsl(var(--lavender_hsl));
    --lavender_desat: hsl(var(--lavender_desat_hsl));
    --black0: hsl(var(--black0_hsl));
    --black1: hsl(var(--black1_hsl));
    --black2: hsl(var(--black2_hsl));
    --black3: hsl(var(--black3_hsl));
    --black4: hsl(var(--black4_hsl));
    --gray0: hsl(var(--gray0_hsl));
    --gray1: hsl(var(--gray1_hsl));
    --gray2: hsl(var(--gray2_hsl));
    --white: hsl(var(--white_hsl));
    --mauve-o10: hsl(var(--mauve_hsl), .1);
    --pink-o20: hsl(var(--pink_hsl), .2);
    */
}

.theme-dark {
    --header-primary: var(--white) !important;
    --header-secondary: var(--rosewater) !important;
    --background-primary: var(--black2) !important;
    --background-primary-alt: var(--black2) !important;
    --background-mobile-primary: var(--black2) !important;
    --background-secondary: var(--black1) !important;
    --background-secondary-alt: var(--black1) !important;
    --background-mobile-secondary: var(--black1) !important;
    --background-tertiary: var(--black0) !important;
    --background-floating: var(--black2) !important;
    --background-mentioned: var(--mauve-o10) !important;
    --background-mentioned-hover: var(--pink-o20) !important;
    --background-accent: var(--gray0) !important;
    --background-modifier-selected: var(--black4) !important;
    --background-modifier-accent: var(--black2) !important;
    --background-modifier-hover: var(--black3) !important;
    --text-normal: var(--white) !important;
    --text-muted: var(--gray0) !important;
    --text-link: var(--sky) !important;
    --channels-default: var(--gray2) !important;
    --channeltextarea-background: var(--black3) !important;
    --activity-card-background: var(--black2) !important;
    --interactive-normal: var(--white) !important;
    --interactive-muted: var(--gray0) !important;
    --interactive-hover: var(--gray2) !important;
    --interactive-active: var(--rosewater) !important;
    --scrollbar-thin-thumb: var(--black0) !important;
    --scrollbar-thin-track: transparent !important;
    --scrollbar-auto-thumb: var(--black3) !important;
    --scrollbar-auto-track: var(--black0) !important;
    --scrollbar-auto-scrollbar-color-thumb: var(--black3) !important;
    --scrollbar-auto-scrollbar-color-track: var(--black3) !important;
    --deprecated-store-bg: var(--black0) !important;
}

/* Mentions */
.mentioned-Tre-dv .mention.interactive {
    color: var(--white) !important;
}

.mentioned-Tre-dv::before {
    background-color: var(--white) !important;
}

/* Home */
.container-2cd8Mz {
    background-color: var(--black2) !important;
}

/* Autocomplete popup */
.autocomplete-3NRXG8 {
    background-color: var(--black2) !important;
}

.wrapper-1NNaWG.categoryHeader-OpJ1Ly {
    background-color: var(--black2) !important;
}

.autocomplete-3NRXG8 {
    background-color: var(--black2) !important;
}

/* Autocomplete popup selection */
.selected-3H3-RC {
    background-color: var(--black3) !important;
}

/* Search: Items */
.container-2McqkF {
    background-color: var(--black0) !important;
}

.searchOption-351dTI:hover {
    background-color: var(--black3) !important;
}

/* Search: No shadows */
.option-ayUoaq:after {
    background: none !important;
}

/* Search: in-section */
.queryContainer-ZunrLZ {
    background-color: var(--black0) !important;
}

/* Search: History */
.option-ayUoaq:hover {
    background-color: var(--black3) !important;
}

/* IN ORDER: New-Unreads-Btn,jumpToPresentBar,CTRL+K,searchFilterOption */
.bar-2eAyLE,.jumpToPresentBar-1cEnH0,.input-3r5zZY,.searchFilter-2UfsDk {
    background-color: var(--gray0) !important;
}

/* New Message Bar */
.newMessagesBar-1hF-9G:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--gray0) !important;
    border-radius:0 0 3px 3px;
}

/* New Messages Flag */
.isUnread-3Lojb- {
    border-color: var(--gray0) !important;
}

.unreadPill-3nEWYM {
    background-color: var(--gray0) !important;
}

.unreadPillCapStroke-1nE1Q8 {
    fill: var(--gray0) !important;
    color: var(--gray0) !important;
}

.isUnread-3Lojb- .content-3spvdd {
    color: var(--gray0) !important;
}

/* Server Modals */
.root-g14mjS,
.separator-2lLxgC {
    background-color: var(--black2) !important;
}

.footer-31IekZ {
    background-color: var(--black1) !important;
}

/* Boost Page */
.perksModal-CLcR1c {
    background-color: var(--black1) !important;
}

.tierMarkerBackground-G8FoN4 {
    background-color: var(--black2) !important;
}

/* Emoji Popout */
.popoutContainer-2wbmiM {
    background-color: var(--black1) !important;
}

/* Presence Buttons */
.lookFilled-yCfaCM.colorGrey-2iAG-B,
.lookFilled-yCfaCM.colorPrimary-2AuQVo {
    background-color: var(--black3) !important;
}

/* Primary Card */
.cardPrimary-3qRT__ {
    background-color: var(--black1) !important;
}

/* Payment Page Boxes */
.paymentPane-ut5qKZ,
.paginator-1eqD2g,
.payment-2bOh4k,
.codeRedemptionRedirect-3SBiCp {
    background-color: var(--black1) !important;
}

.bottomDivider-ZmTm-j {
    border-bottom-color: var(--black2) !important;
}

/* Selection */
::selection {
    color: var(--white) !important;
    background: var(--black4) !important;
}


/* avarat area thing */
.panels__58331 {
    background-color: var(--avatar-area-background-colour);
    border-top-right-radius: var(--avatar-area-top-right-radius);
    box-shadow: var(--avatar-area-box-shadow);
    clip-path: polygon(100% -400%, 100% 100%, 0% 400%, 0% -400%);
}

/*Internal window properties*/
.app_de4237 {
    margin: var(--window-margin);
    box-shadow: var(--window-box-shadow);
    overflow: hidden;
    border-radius: var(--window-border-radius);
    background: var(--window-colour);
    backdrop-filter: blur(var(--window-blur)) !important;
}


/* Sever selector . Cant find element*/
.scroller__3d071 {
    background-image: linear-gradient(var(--server-selector-gradient-top), var(--server-selector-gradient-bottom));
}

/* Keyboard shortcut menu */
.keyboardShortcutsModal-2CRmCm {
    background-color: var(--background-primary) !important;

}

/* secret */
.localeName__0b565:before {
    content: "For Ashley <3 "
}